.coluna1{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.titulo1{
    padding-bottom: 10px;
}

.entradaNome{
    /*width: 100%;*/
}

h5 {
    padding-bottom: 10px;
    padding-top: 10px;
}

button {
    background-color: #009e0f;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.botao{
    display: flex;
    align-items: center;
    margin-left: 30%;
}

.categoria{
    display: flex;
    align-items: center;
}

.x{
    display: flex;
    align-items: center;
    
    
}

.btnCancel{
    background-color: darkgrey;
    color: rgb(0, 0, 0);
    margin-left: 1000px;
    font-weight: normal;
}

.btnSalvar{
    margin-left: 10px;
}


.btnNovaCategoria{
    margin-top: 10px;
    margin-left: 10px;
    
}

.caminhoArquivo{
    
    
}

.caminhoCapa{
    margin-left: 130px;
    
}

.tamArquivo{
    margin-left: 550px;
}

.tamCapa{
    margin-left: 550px;
    padding-left: 50px;
}

.btnNome{
    display: flex;
    align-items: center;
    margin-right: 90%;
}

.btnCapa{
    margin-right: 0%;
}