.coluna1{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.titulo1{
    padding-bottom: 10px;
}

h5 {
    padding-bottom: 10px;
    padding-top: 10px;
}

button {
    background-color: #009e0f;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.categoria{
    display: flex;
    align-items: center;
}

.btnCancel{
    background-color: darkgrey;
    color: rgb(0, 0, 0);
    margin-left: 91%;
    font-weight: normal;
}

.btnSalvar{
    margin-left: 10px;
}

.btnNovaCategoria{
    margin-top: 10px;
    margin-left: 10px;
}

.cascata{
    padding-bottom: 2px;
}
