
backend/HelpMind/campusSessao.txt
backend/HelpMind/hs_err_pid3926.log
backend/HelpMind/src/main/resources/aplicativo propiedades producao.txt
frontend/build.zip
frontend/build.zip
frontend/build.zip
