
backend/HelpMind/campusSessao.txt
backend/HelpMind/hs_err_pid3926.log
backend/HelpMind/src/main/resources/aplicativo propiedades producao.txt
frontend/build.zip
frontend/build.zip
frontend/build.zip
frontend/build.zip
frontend/build.zip
frontend/build.zip
leia-me
frontend/build.zip
frontend/cert/domain.crt
frontend/cert/domain.ext
frontend/cert/domain.csr
frontend/cert/domain.key
frontend/cert/domain.p12
frontend/build.zip
frontend/cert/rootCA.crt
frontend/cert/rootCA.key
frontend/cert/rootCA.srl
frontend/nohup.out
