.container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: space-between;
}

.home-container{
    display: flex;
}


.quadrado{
    width:70%;
    height: 100vh;
    background:#333333;
    display: flex;
    align-items: center;
}

.logo{
    margin-left: 30%;
}

.fraseImpacto{
    margin-left: 50%;
    color: #009e0f;
    font-size: 24;
    margin-top: 10%;
    width: 50%;
    margin-left: 10%;
}

.buttons{
    display: grid;
    padding-top: 10%;
    width: 10%;
    margin-left: -45%;
}

.btn1{
    background-color: #009e0f;
    color: white;
    font-weight: bold;
    width: 343px;
    height: 27px;
    margin-top: 10px;
}

.btn2{
    background-color: #009e0f;
    color: white;
    font-weight: bold;
    width: 309px;
    height: 27px;
    margin-top: 10px;
}

.btn3{
    background-color: #009e0f;
    color: white;
    font-weight: bold;
    width: 286px;
    height: 27px;
    margin-top: 10px;
}

.btn4{
    background-color: #009e0f;
    color: white;
    font-weight: bold;
    width: 263px;
    height: 27px;
    margin-top: 10px;
}